body {
  margin: 20px;
  font-family: VT323;
  font-size: 24px;
  background-image: url(background.jpg);
  background-size:     1600px;
  background-repeat:   no-repeat;
  background-position-y: -40px;
  color: rgb(0, 78, 0);
}

button {
  background-color: white;
  background-image: linear-gradient(rgb(225, 225, 225), white, rgb(225, 225, 225));
  color: darkgreen;
  font-size: 19px;
  border: 1px solid darkgreen;
  border-radius: 3px;
  line-height: 20px;
  font-family: 'Permanent Marker'
}

button:hover {
  opacity: 0.7;
  background-image: none;
}

button:disabled {
  opacity: 0.4;
}


h1 {
  text-align: center;
  color: rgb(47, 72, 119);
  min-width: 800px;
  font-family: 'Permanent Marker';
  font-size: 40px;
}

#gv-green {
  color: darkgreen;
}

#nav-and-map {
  display: flex;
}

nav {
  flex: 2;
  background: repeating-linear-gradient(transparent, #81978079 34.08px),
  repeating-linear-gradient(0.25turn, transparent, #9fb6af9d 32.7px);  margin-right: 15px;
  height: auto;
  width: auto;
  min-height: 600px;
  min-width: 260px;
  border: 2px dotted darkgreen;
  border-radius: 3px;
}

#info {  
  font-family: 'Permanent Marker';
  font-size: 17px;
  text-shadow: white 0 0 1.5px;
}

#latitude, #longitude {
  font-family: VT323;
  font-size: 25px;
  font-weight: bold;
}

#guesslist {
  color: rgb(255, 103, 82);
  text-shadow: black 0 0 2px;
}

input[type="radio"]:checked + span {
  color: rgb(108, 82, 255);
  text-shadow: white 0 0 4px;
}

.row {
  display: flex;
  justify-content: space-around;
}

#info div {
  padding: 5px;
}

#cheat-sheet {
  visibility: hidden;
  display: none;
}

#map-wrapper {
  flex: 6;
  height: auto;
  width: auto;
  min-height: 820px;
  min-width: 575px;
  background-image: linear-gradient(10deg, rgb(245, 245, 255, 0.3), rgb(246, 246, 252, 0.2));
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(47, 72, 119);
  border-radius: 12px;
  margin-right: 0px;
}

#high-score, #map-middle, #northButton, #westButton, #eastButton, #southButton, #returnButton, #county-image, .balancer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

#high-score {
  padding-bottom: 10px;
}

#returnButton {
  padding: 307px 0 0 0;
}

#returnButton button {
  opacity: 0.67;
}

#returnButton button:disabled {
  opacity: 0.25;
}

#northButton {
  padding: 30px 0 0 0;
}

.balancer {
  flex: 1;
}

#southButton {
  flex: 1;
  padding-bottom: 50px;
}

#county-image {
  flex: 1;
  padding-bottom: 50px;
}

#map {
  height: auto;
  width: auto;
  min-height: 640px;
  min-width: 310px;
  padding: 0;
  border-radius: 8px;
  background-position: center;
  background-position-y: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 4;
}

#county-map {
  height: 450px;
}

.blink-me {
  color: red;
  font-family: VT323;
  font-size: 60px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.leaflet-control-attribution {
  border-radius: 0 0 0 0;
  opacity: 0.6;
}