body {
  margin: 20px;
  font-family: VT323;
  font-size: 24px;
  background-image: url(background.jpg);
  background-size:     1600px;
  background-repeat:   no-repeat;
  background-position-y: -110px;
  color: rgb(0, 78, 0);
}

button {
  background-color: white;
  background-image: linear-gradient(rgb(225, 225, 225), white, rgb(225, 225, 225));
  color: darkgreen;
  font-size: 19px;
  border: 1px solid darkgreen;
  border-radius: 3px;
  line-height: 20px;
  font-family: 'Permanent Marker'
}

button:hover {
  opacity: 0.7;
  background-image: none;
}

button:disabled {
  opacity: 0.4;
}


h1 {
  text-align: center;
  color: rgb(47, 72, 119);
  min-width: 800px;
  font-family: 'Permanent Marker';
  font-size: 40px;
}

#gv-green {
  color: rgb(61, 180, 97);
}

#nav-and-map {
  display: flex;
}

nav {
  flex: 2;
  background: repeating-linear-gradient(transparent, #81978079 34.08px),
  repeating-linear-gradient(0.25turn, transparent, #9fb6af9d 32.7px);  margin-right: 15px;
  height: auto;
  width: auto;
  min-height: 600px;
  min-width: 260px;
  border: 2px dotted darkgreen;
  border-radius: 3px;
}

#info {  
  font-family: 'Permanent Marker';
  font-size: 17px;
  text-shadow: white 0 0 1.5px;
}

#latitude, #longitude {
  font-family: VT323;
  font-size: 25px;
  font-weight: bold;
}

#guesslist {
  color: rgb(255, 103, 82);
  text-shadow: black 0 0 2px;
}

input[type="radio"]:checked + span {
  color: rgb(108, 82, 255);
  text-shadow: white 0 0 4px;
}

.row {
  display: flex;
  justify-content: space-around;
}

#info div {
  padding: 5px;
}

#map-wrapper {
  flex: 4;
  background-image: linear-gradient(10deg, rgb(245, 245, 255, 0.3), rgb(246, 246, 252, 0.4));
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(47, 72, 119);
  border-radius: 12px;
}

#map-middle, #northButton, #westButton, #eastButton, #southButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#northButton {
  padding-bottom: 0;
}

#southButton {
  padding-top: 0;
}


#map {
  height: auto;
  width: auto;
  min-height: 470px;
  min-width: 310px;
  padding: 0;
  border-radius: 8px;
}

#county-map {
  height: 450px;
}

#county-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 15px;
  background-color: white;
  border: 3px solid rgb(61, 180, 97);
  border-radius: 8px;
  padding: 60px 25px 240px 25px;
}

.blink-me {
  color: red;
  font-family: VT323;
  font-size: 60px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.leaflet-control-attribution {
  border-radius: 0 0 8px 8px;
  opacity: 0.6;
}