body {
  margin: 0;
}

h1 {
  text-align: center;
}

#nav-and-map {
  display: flex;
}

nav {
  flex: 1;
  background-image: linear-gradient(10deg, rgb(226, 255, 226), rgb(243, 255, 242));
  margin-right: 15px;
}

#map-wrapper {
  flex: 4;
  background-image: linear-gradient(10deg, rgb(226, 226, 255), rgb(243, 242, 255));
  display: flex;
  flex-direction: column;
}

#map-middle, #northButton, #westButton, #eastButton, #southButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#northButton {
  padding-bottom: 0;
}

#southButton {
  padding-top: 0;
}


#map {
  height: auto;
  width: auto;
  min-height: 370px;
  min-width: 250px;
  padding: 0;
}